*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 1rem 5rem;
    background-color: #f9f4e8;
    overflow-x: hidden;
}
        /* nav menu */
nav{
    justify-content: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 9vh;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title h4{
    background-color: orange;
    background: linear-gradient(to right,orange,rgb(255, 34, 0));
    padding: .3rem .6rem;
    border-radius: .9rem;
    font-size: .8em;
    margin-left: .8rem;
    min-width: 6.8rem;
    color: white;
}
.title__logo{
    width: 6rem;
}
.navmenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    color: grey;
}
.links{
    width: 15rem;
}
.links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: .9rem;
}
.cta{
    width: 9.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.links ul a{
    text-decoration: none;
    color: grey;
}
.cta a{
    text-decoration: none;
    color: grey;
}
.cta button{
    background-color: hsl(224, 81%, 60%);
    border-style: none;
    color: white;
    padding: 1em;
    border-radius: .25rem;
    cursor: pointer;
}
.cta button:hover{
    background-color: hsl(224, 87%, 51%);
    transition: .1s ease-out;
   }
.hamburger{
    display: none;
}
        /* main image */
.main__image{
    z-index: 100;
    position: relative;
    top: -2rem;
    overflow: hidden;
    min-width: 20rem;
}
.image__container .purple{
    z-index: 90;
    transform: rotate(-15deg);
}
.image__container .pink{
    z-index: 80;
    transform: rotate(-30deg);
}
.image__container .blue{
    z-index: 70;
    transform: rotate(-45deg);
}
.image__content{
    position: relative;
    height: 100%;
    top: -2rem;
}
.image__content img{
    position: absolute;
    max-width: 21rem;
    top: 0;
    right: 0;
}
        /* hero section */
.real__card{
    width: 40%;
    font-family: 'Playfair Display', serif;
}
.card{
    margin-top: 5rem;
}
.card__header{
    margin-bottom: .5rem;
    font-size: 2.7rem;
    width: 100%;
}
.card__desc{
    margin-bottom: .5rem;
    font-family: 'Lato', sans-serif;
    color: grey;
}
.card__login{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: .25rem;
    border-style: none;
    padding: 1rem;
    width: 50%;
}
.card__button{
    padding: 1rem;
    background-color: hsl(224, 81%, 60%);
    color: white;
    border-radius: .25rem;
    border-style: none;
    cursor: pointer;
}
.card__button:hover{
    background-color: hsl(224, 87%, 51%);
    transition: .1s ease-out;
   }
.card__trust{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: grey;
    display: flex;
    align-items: center;
    margin-top: .5rem;
}
.card__trust__logo{
    margin-right: .5rem;
    width: 1.6rem;
}
        /* media links */
.bottom__links{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 10rem;
}
.media__links{
    display: flex;
    width: 30%;
    min-width: 14.5rem;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    color: grey;
}
.media__links a{
    text-decoration: none;
    color: grey;
}
.qcta{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: grey;
}
.qcta__image{
    float: left;
    width: 2.5rem;
    margin-right: .5rem;
}
.qcta a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
@media screen  and (max-width:960px){
    body{
        margin: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav{
        width: 100%;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger div{
        background-color: rgb(145, 69, 69);
        width: 1rem;
        height: .2rem;
        margin: .2rem;
    }
    .hamburger.active .line2{
        opacity: 0;
    }
    .hamburger.active .line1{
        transform: rotate(45deg) translateY(9px);
        transition: .5s ease;
    }
  
    .hamburger.active .line3{
        transform: rotate(-45deg) translateY(-9px);
        transition: .5s ease;

    }
    .main__image{
        z-index: 0;
        position: relative;
        overflow: hidden;
    }
    .image__container .purple{
        display: none;
    }
    .image__container .pink{
        z-index: 80;
        transform: rotate(-30deg);
        display: none;
    }
    .image__container .blue{
        z-index: 70;
        transform: rotate(-45deg);
        display: none;
    }
    .image__content{
        position: relative;
        height: 100%;
        top: 0;
    }
    .image__content img{
        position: relative;
        max-width:30rem;
    }
    .navmenu{
        position: absolute;
        height: 35vh;
        width: 15rem;
        top: 11vh;
        right: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform .5s ease-in;
        background-color: hsl(40, 68%, 85%);
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    .links ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        height:10vh;
        align-items:center;
        justify-content: space-around;
    }
    .navmenu .links li{
        width: 100%;
        padding: 1rem 2rem;
        text-align: center
    }
   .navmenu .links li:hover{
    background-color: #f9f4e8;
   }
   .navmenu.active{
       transform: translateX(0%);
   }
   .cta{
       display: flex;
       flex-direction: column;
       height: 9vh;
       width: 100%;
   }
   .cta a{
       padding: 1rem 2rem;
       width: 100%;
       text-align: center;
   }
   .cta a:hover{
    background-color: #f9f4e8;
   }
   .cta button:hover{
    background-color: hsl(224, 87%, 51%);
    transition: .1s ease-out;
   }
   .cta button{
  margin-top: .5rem;
   }
    .real__card{
        width: 100%;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .card__header{
        margin-top: 3rem;
        margin-bottom: .5rem;
        width:100%;
        font-size: 4rem;
    }
    .card__desc{
        margin-bottom: .5rem;
        width: 100%;
    }
    .card__join{
        width: 100%;
        margin-bottom: .5rem;
    }
    .card__login{
        width: 50%;
    }
    .image__container{
        position: relative;
        }
    .bottom__links{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
    }
    .media__links{
        display: flex;
        width: 75%;
        min-width: 11.25rem;
        max-width: 14.5rem;
        justify-content: space-between;
    }
}
@media screen and (max-width:480px) {
    body{
        margin: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
   
    nav{
        width: 100%;
    }
    .main__image{
        position: absolute;
        top: 0;
        min-width: 2%;
    }
    .hamburger{
        display: block;
    }
    .hamburger div{
        background-color: rgb(145, 69, 69);
        width: 1rem;
        height: .2rem;
        margin: .2rem;
    }
    .image__content img{
        position: relative;
        max-width:100%;
        top: 0;
        right: 0;
    }
    .real__card{
        width: 100%;
    }
    .card{
        margin-top: 5rem;
    }
    .card__desc{
        padding-bottom: .5rem;
        width:100% ;
        line-height: 1.3rem;
    }
    .card__header{
        margin-top: 3rem;
        margin-bottom: .5rem;
        width:100%;
    }
    .card__login{
        width: 100%;
        margin-bottom: .5rem;
    }
    .card__button{
        width: 100%;
        color: white;
    }
    
    .bottom__links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-top: 3rem;
       
    }
    .media__links{
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        min-width: 11.25rem;
    }
    .qcta{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .qcta__image__float{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}


    